/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('./assets/images/league-of-legends-campeoes-divulgacao-riot-games.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
